
/**
 * 编辑页面样式
 */

/* 全局 */
body {
	font-size: 18px;
}

fieldset {
	
	width: 800px;
	border-radius: 20px;
	
	margin-top: 150px;
	margin-left: 230px;
}

legend {
	border-radius: 10px;
	color: #488CB6;
	font-size: 24px;
}

/* 表单 */
form {
	width: 500px;
	
	margin-top: 30px;
	margin-left: 50px;
}

/* 整体的输入部分 */
.layui-input-block {
	margin-bottom: 20px;
}

/* label 标签 */
.layui-form-label {
	width: 150px;
}

/* 输入框 */
.layui-input {
	width: 300px;
}

.layui-textarea {
	width: 300px;
}

/* 按钮 */
.layui-btn {
	margin-left: 60px;
	margin-bottom: 10px;
	background-color: #488CB6;
}

/* 预览图片 */
img {
	width: 225px;
	height: 200px;

	/* 绝对定位 */
	position: absolute;
	top: 200px;
	left: 750px;
}



















