
/**
 * 编辑页面样式
 */

/* 全局 */
body {
	font-size: 18px;
}

/* 表单 */
form {
	margin-top: 30px;
	margin-left: 50px;
}

/* 整体的输入部分 */
.layui-input-block {
	margin-bottom: 10px;
}

/* label 标签 */
.layui-form-label {
	width: 100px;
}

/* 输入框 */
.layui-input {
	width: 250px;
}

button {
	margin-left: 60px;
}

/* 预览图片 */
img {
	width: 225px;
	height: 200px;

	/* 绝对定位 */
	position: absolute;
	bottom: 20px;
	left: 470px;
}



















